.about{
    background: url(../../images/SLIDE_02.jpeg);
    height: 80vh;
    position: relative;
}
.about-cotent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-cotent h1{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.1;
}
.about-cotent p{
    font-size: 1.5rem;
    font-weight: 400;
}
.card-img-top{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 0 auto;
}
@media only screen and (max-width: 720px) {
    .about-cotent h1{
        font-size: 1.5rem;
    }
    .about-cotent p{
        font-size: 1rem;
    }
  }